html, body {
	margin:0;
	padding:0;
	height:100%;
	font-family: Arial,sans-serif;
	background-image: url(/static/images/derby-background-1600.jpg);
	background-size: 100%;
	background-attachment: fixed;
}
body {
	margin-bottom: 80px; /* margin to prevent hiding content that would go "under" the footer */
}
.ui-dialog .ui-dialog-titlebar {
	padding: .4em 1em;
	position: relative;
	font-size: 200% !important;
}


.racer_pic {
	height: 320px;
}



.title {
	color: #fff600;
	font-weight: bold;
	font-size: 200%;
	text-shadow: 3px 3px #2222CC;
}
.fine {
	color: #fff600;
	font-weight: bold;
	font-size: 100%;
	text-shadow: 1px 1px #2222CC;
}
img.resize {
    width:180;
    height: auto;
}

div.footer {
	text-align: center;
	width: 100%;
	position:fixed;
	bottom: 0;
	height: 80px;
}

div.logo {
	/*float: left;*/
	display: inline-block;
}

img.logo {
	width:auto;
    height: 50px;
    padding-right:30px;
}

.menu {
	float: center;
	margin: 0 auto;
	width: 100%;
	text-align:center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
}

.choice {
	float: center;
	width: 20%;
    height: auto;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin: 20px;
}
div.choice p {
  text-align: center;
  font-style: italic;
  font-size: larger;
  text-indent: 0;
}
div.choice img {
	width: 80%;
}
#track_status {
	color: red;
	font-weight: bold;
	font-size: larger;
}
hr {
    color:sienna;
}
table,th, td {
    border-collapse:collapse;
    border: None;
}
td {
    padding: 2px;
}
table.run-table {
    border-collapse:collapse;
    border: 2px solid black;
/*    width: 100%;*/
}
table.run-table td {
	border-color: #CCCCCC;
	border-right: 1pt solid grey;
	border-bottom: 1pt solid grey;
}
table.swap-table td {
	border-color: #CCCCCC;
	border: 2pt solid grey;
	width: 90%;
}
table.results-table {
    border-collapse:collapse;
    border: 2px solid black;
    width: 100%;
}
table.results-table td {
	border-color: #CCCCCC;
	border: 2pt solid grey;
	width: 90%;
}
#tblStandingsAll {
    border-collapse:collapse;
    border: 2px solid black;
    width: 100%;
}
tr.divider {
    border-top: 6px solid black;
}
tr.standings-heading {
	background-color: #444488;
	color: #FFFFFF;
}
tr.status-heading {
	background-color: #444488;
	color: #FFFFFF;
}
.selected {
	background-color: #00FFFF;
	color: blue;
}
.center {
    text-align: center;
}
.left {
    text-align: left;
}
.row1 {
    color:#000000;
    background-color:#EAF2D3;
}
.row2 {
    color:#000000;
    background-color:#FFFFFF;
}
.lane-label {
    font-size: 2em;
    text-align: center;
    opacity: 1;
}
.big-text {
    font-size: 2em;
    text-align: center;
    opacity: 1;
}
.dnf {
    background-color:red;
}
.run_current {
    background-color:#99FF66;
    opacity: 1;
}
.ui-progressbar {
    position: relative;
    color:#5555FF;
    background-color:#222222;
}
.progress-label {
    position: absolute;
    left: 5%;
    top: 4px;
    font-weight: bold;
    color:#EEEEEE;
    text-shadow: 1px 1px 0 #222222;
}
.my-dialog {
    background: #EEEEEE;
    opacity: 1;
}
.ui-progressbar.done .ui-progressbar-value { background: green; }
.ui-progressbar.not-done .ui-progressbar-value { background: #FF6600; }

.ui-tabs-selected {
    background: #FF6600;
    font-weight: bold;
    color:#EEEEEE;
    text-shadow: 1px 1px 0 #222222;
}
.etabs { margin: 0; padding: 0; width:100% }
.tab { display: inline-block; zoom:1; *display:inline; background: #ddd; border: solid 1px #999; -moz-border-radius: 4px 4px 4px 4px; -webkit-border-radius: 4px 4px 4px 4px; }
.tab a { font-size: 14px; line-height: 2em; display: block; padding: 0 10px; outline: none; }
.tab a:hover { text-decoration: underline; }
.tab.active { background: #fff; padding-top: 6px; position: relative; top: 1px; border-color: #666; }
.tab a.active { font-weight: bold; }
.tab-container .panel-container { width: 100%; background: #fff; border: solid #666 1px; padding: 10px; -moz-border-radius: 0 4px 4px 4px; -webkit-border-radius: 0 4px 4px 4px; }
