{% extends "admin/base.html" %}
{% load i18n %}


/* Added following 7 lines for Django Flat Responsive: https://github.com/elky/django-flat-responsive */
{% load admin_static %}
{% block blockbots %}
  {{ block.super }}
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'admin/css/responsive.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'admin/css/responsive_rtl.css' %}" />
{% endblock %}


{% block title %}{{ title }} | {% trans 'Pinewood Derby Site Admin' %}{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'Pinewood Derby Site Administration' %}</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
