<!doctype html>
<html lang="us">
<head>
<meta charset="utf-8">
<link rel="shortcut icon" href="/static/favicon.png" type="image/png">
<link rel="icon" href="/static/favicon.png" type="image/png">
<link href="/static/css/blitzer/jquery-ui-1.10.3.custom.css" rel="stylesheet">
<script src="/static/js/jquery-1.9.1.js"></script>
<script src="/static/js/jquery-ui-1.10.3.custom.js"></script>
<link href="/static/css/myderby.css" rel="stylesheet">
<script src="/static/js/myderby.js"></script>
</head>
<body>
<h1 class="title center">Pack 180 Pinewood Derby January 20th, 2018</h1>
<div class="menu">
<!--
<div class="choice">
<a href="race/current/status"><img class="center" src="/static/images/pack180-starting-line.jpg" alt="Race Status"/></a>
<p>Race Status
</div>
-->

<div class="choice">
<a href="race/current/standings"><img class="center" src="/static/images/standings.png" alt="Race Standings"/></a>
<p>Status & Standings
</div>

<div class="choice">
<a href="race/current/control"><img class="center" src="/static/images/control-panel.png" alt="Control Panel"/></a>
<p>Control
</div>

<div class="choice">
<a href="/admin"><img class="center" src="/static/images/gears.png" alt="Race Admin"/></a>
<p>Admin
</div>

</div>
<div class="footer">
<div class="logo"><a href="http://www.w3.org/TR/html5/"><img class="logo" src="/static/images/html5-logo.png" alt="HTML5"></a></div>
<div class="logo"><a href="http://www.python.org/"><img class="logo" src="/static/images/python-powered-h-140x182.png" alt="Python"></a></div>
<div class="logo"><a href="https://www.djangoproject.com/"><img class="logo" src="/static/images/django-logo-negative.png" alt="DJango"></a></div>
<div class="logo"><a href="http://jquery.com/"><img class="logo" src="/static/images/jquery.png" alt="JQuery"></a></div>
<div class="logo"><a href="http://www.tornadoweb.org/en/stable/"><img class="logo" src="/static/images/tornado.png" alt="Tornado"></a></div>
<div class="logo"><a href="http://www.sqlite.org/"><img class="logo" src="/static/images/sqlite3.png" alt="Sqlite3"></a></div>
</div>
</body>
</html>

